body{
    background-color: rgb(115, 207, 207);
    font-weight: bold;
    width: 100%;
    margin: 0;
}

h1{
    font-size: 2rem;
}

header, footer{
    color: white;
    text-align: center;
    width: 100%;

}

section{
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.479);
    box-sizing: border-box;
    margin: auto;
    padding: 10px;

}

#cima{
    width: 100%;
    margin-bottom: 5px;
}

#lbl-num{
    width: 100%;
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

#btn-add{
    width: 30%;
}

#num{
    width: 30%;
    padding: 2px;
    border: none;
    background-color: rgba(169, 236, 197, 0.705);
    font-weight: bold;
    text-align: center;
}


#numeros{
    width: 60%;
    display: block;
    padding: 5px;
    margin: 10px 0;
    height: 30vh;
}

#btn-add, #ver, #lim{
    font-family: fangsong;
    font-weight: bold;
    background-color: green;
    color: white;
}

#ver{
    background-color: blue;
}
#lim{
    background-color: red;
}
footer{
font-style: italic;
}

#vol{
    background-color: rgba(0, 0, 0, 0.671);
    color: aqua;
    width: 20%;
    border: none;
    border-radius: 100%;
    font-size: .9rem;
}

@media screen and (min-width:680px){
    h1{
        font-size: 2.5rem;    
    }

    #lbl-num{
        width: auto;
        display: inline-block;
        font-size: 1.5rem;
    }

    #num{
        width: 10%;
        height: 28px;
        font-size: 1.3rem;
    }
    #btn-add,#ver,#lim{
        height: 30px;
        width: 30%;
        font-size: 1.2rem;
        max-width: 180px;
    }

    #numeros{
        width: 40%;
        font-size: 1rem;
    }

    #res{
        font-size: 1.2rem;
    }

}