body{

    background-color: red;
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h1{
    box-sizing: border-box;
    font-size: 4rem;
    margin: 20px 0;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.534);
}

header, footer{
    color: rgb(255, 0, 234);
    text-align: center;

}

section{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.479);
    box-sizing: border-box;
    margin: 30px auto;
    padding: 10px;
    width: 80%;
}

div{
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

footer{
font-style: italic;
font-weight: bold;
}

#imagem{
    border-radius: 100px;
    height: 50%;
    width: 50%;
    max-height: 500px;
}

#vol{
    background-color: rgba(0, 0, 0, 0.671);
    color: aqua;
    width: 20%;
    border: none;
    border-radius: 100%;
    font-size: .9rem;
}

@media screen and (max-width:760px) {

    h1{
        font-size: 3.5rem;
        text-shadow: 3px 3px rgba(0, 0, 0, 0.534);
    }

    div{
        font-size: 1.5rem;
    }
    
}

@media screen and (max-width:500px){
    h1{
        font-size: 2.5rem;
        margin: 20px 0;
    }

    div{
        font-size: 1rem;
    }

    section{
        margin: 50px auto;
    }

}
